/* body{
  background-color: rgb(64, 65, 66);
}
.container{
  background-color: rgb(255,255,255);
}.bg-dark{
  background-color: rgba(0,0,0,.7) !important;
}
*/
body{
  font-family: 'Raleway', sans-serif;

}
@import url("https://fonts.googleapis.com/css?family=Bad+Script");
@import url("https://fonts.googleapis.com/css?family=Raleway");

.marketing{
    background: #FFF4E6;
    color: #202020;
}

.parallaxContainer{
    overflow-x: hidden; /*due to image scaling overflowing we hide the scroll bars */
    overflow-y: hidden;
}

.title{
  font-family: 'Bad Script', cursive;
  font-size: 2.2rem;
}
.welcome-text{
  font-family: 'Indie Flower', cursive;
}
.welcome-text:first-child{
  font-size: 2rem;
}
.welcome-text span:nth-of-type(2){
  font-size: 3.2rem;
  letter-spacing: 2px;
}
.welcome-text p{
  font-family: 'Raleway', sans-serif;
  position: relative;
  top: 10px;
  font-size: 1.4rem;
}
.welcome-screen{
width:100%;
min-height:800px;
padding-top:110px;
position:relative;
overflow:hidden;
}
.parallax-curtain{
  position:absolute;
  left:0%;
  right:0%;
  top:0%;
  bottom:0%;
  background:rgba(0,0,0,0.3);
}
.parallaxContainer .btn{
  position: relative;
  top: 30px;
  border-radius: 10px;
  padding: 14px;
  background-color: #BA2702;
}

.medium-below{
  background-image:url("img/1-1949-.jpg");
  background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.welcome-text{
  font-size: 1.6rem;
}
.welcome-screen .btn-group > span{
  border:none;

}
.welcome-screen .btn-group > .btn-primary{
  background-color:#DB8E05;
}
.welcome-screen .btn-group > .btn-info{
  background-color:#A68E05;

}
.welcome-screen .btn-group > .btn-info:hover{

  background-color: black;
}
.welcome-screen .btn-group > .btn-primary:hover{

  background-color: blue;
}
.bg-ultra-dark{
  background-color: #212121;
}
.nav-link {
  color: white !important;
  background-color: transparent !important;
  /* border-bottom: .19rem solid gray !important; */
}

.nav-link:hover {
  /* border-bottom-color: orange !important; */
  color:orange !important;
}
.headings-container{
  background-color: #212121;

}
.headings-item-side{
  color: #3A4042;
  border-radius: 10px;
}
.headings-item-center{
  color: white;
}
/*Featurette CSS*/
.headings-container .btn-secondary{
  border: none;
  border-radius: 10px;
  padding: 16px;
  background-color: #C49342;
}
.featurette-divider {
  margin: 2.25rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;

}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 2rem;
  }
}

/*Skittlers footer custom CSS*/
.aside .card{
  background: #212121;
  border-radius: 4px;
  color: #fff;
}
.aside .btn{
  background: #C49342;
  border: none;
}
.aside a{
  color: #fff;
  text-decoration: underline;
}
.aside .card-header{
  border-bottom: 2px solid #fff;
}
.sktl{
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("img/background.jpg");
}

p a{
  color:white;
}
p a:hover{
  text-decoration: none;
  color:#FF8039;
}
.soc-item a{
  color: #FF8039;
}
/*#D15839*/
.soc-item a:hover{
  color:  #FF8039;
}
/*card with transparent background and bottom border on footer
under md only*/
@media (max-width:768px){
  #accordion .card{
    background-color:transparent;
  }
  #accordion .card-header{
    border-bottom:1px solid white;
    cursor:pointer;
  }
}
/*toggle icon on footer's accordion*/
.accordion .card-header:after {
    font-family: 'Font Awesome 5 Free';
    content: "\f0d8";
    float: right;
}
.accordion .card-header.collapsed:after {
    content: "\f0d7";
}

#map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
 }

@media (max-width:450px){
  .medium-below{

    height:450px;
    background-position: top, center;
  }

  .welcome-text{
    top:9%;
  }
  .welcome-text ul li{
    padding-top:2px;
    padding-bottom:2px;
  }
  .welcome-text ul li span{
    font-weight:700;
    font-size:15px;
  }
  .welcome-text > u {
    font-size: 20px;
  color: #e38612;
  }
}
