/* body{
  background-color: rgb(64, 65, 66);
}
.container{
  background-color: rgb(255,255,255);
}.bg-dark{
  background-color: rgba(0,0,0,.7) !important;
}
*/
@import url("https://fonts.googleapis.com/css?family=Bad+Script");
@import url("https://fonts.googleapis.com/css?family=Raleway");
.marketing{
  background: linear-gradient(to bottom right,#fff, #F0E3B2 70%),
}

.parallaxContainer{
    overflow-x: hidden; /*due to image scaling overflowing we hide the scroll bars */
    overflow-y: hidden;
}


.welcome-screen{
  float:left;
width:100%;
min-height:800px;
padding-top:50px;
position:relative;
overflow:hidden;
}
.parallax-curtain{
  position:absolute;
  left:0%;
  right:0%;
  top:0%;
  bottom:0%;
  background:rgba(0,0,0,0.4);
}

.medium-below{
  background-image:url("img/img5.jpg");
  background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.welcome-text{
  position:absolute;
  top:15%;
  color:white;
}
.welcome-text ul{
  margin:0px;
  padding:0px;
  list-style-type: none;
}
.welcome-text ul li{
  font-family:'Raleway', sans-serif;
  line-height: 1.1;
  padding-top:10px;
  padding-bottom:10px;
}
.welcome-text > u {
  font-family:'Bad Script', cursive;
  font-size: 30px;

color: #e38612;
}
.welcome-screen .btn-group > span{
  border:none;

}
.welcome-screen .btn-group > .btn-primary{
  background-color:#DB8E05;
}
.welcome-screen .btn-group > .btn-info{
  background-color:#A68E05;

}
.welcome-screen .btn-group > .btn-info:hover{

  background-color: black;
}
.welcome-screen .btn-group > .btn-primary:hover{

  background-color: blue;
}
.bg-ultra-dark{
  background-color: #121414;
}
.nav-link {
  color: white !important;
  background-color: transparent !important;
  /* border-bottom: .19rem solid gray !important; */
}

.nav-link:hover {
  /* border-bottom-color: orange !important; */
  color:orange !important;
}
.headings-container{
  background-image: linear-gradient(#121414 25%, #DB8E05);
}
.headings-item-side{
  color: #3A4042;
  border-radius: 20px;
}
.headings-item-center{
  color: white;
}
/*Featurette CSS*/
.btn-secondary{
  border: none;
  border-radius: 20px;
  padding: 16px;
  background-color: #EA3C33;
}
.featurette-divider {
  margin: 2.25rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 2rem;
  }
}

/*Skittlers footer custom CSS*/

.sktl{
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("img/background.jpg");
}


p a{
  color:white;
}
p a:hover{
  text-decoration: none;
  color:#FF8039;
}
.soc-item a{
  color: #FF8039;
}
/*#D15839*/
.soc-item a:hover{
  color:  #FF8039;
}
/*card with transparent background and bottom border on footer
under md only*/
@media (max-width:768px){
  #accordion .card{
    background-color:transparent;
  }
  #accordion .card-header{
    border-bottom:1px solid white;
    cursor:pointer;
  }
}
/*toggle icon on footer's accordion*/
.accordion .card-header:after {
    font-family: 'Font Awesome 5 Free';
    content: "\f0d8";
    float: right;
}
.accordion .card-header.collapsed:after {
    content: "\f0d7";
}


@media (max-width:450px){
  .medium-below{

    height:450px;
    background-position: top, center;
  }

  .welcome-text{
    top:9%;
  }
  .welcome-text ul li{
    padding-top:2px;
    padding-bottom:2px;
  }
  .welcome-text ul li span{
    font-weight:700;
    font-size:15px;
  }
  .welcome-text > u {
    font-size: 20px;
  color: #e38612;
  }
}
