/*MAIN LAYOUT CSS*/
/*  SECTIONS:
    1) main theme(header, footer)
    2) main page content
    3) media queries
*/
/*1.--------------------------MAIN THEME-------------------------*/
@import url("https://fonts.googleapis.com/css?family=Bad+Script");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");

body{
  font-family: 'Raleway', sans-serif;
}

.bg-ultra-dark{
  background-color: #212121;
}

/*----------Navbar-links--------*/
.title{
  font-family: 'Bad Script', cursive;
  font-size: 2.2rem;
}


#myNavbar .nav-link {
  color: white !important;
  background-color: transparent !important;
}

#myNavbar .nav-link:hover {
  /* border-bottom-color: orange !important; */
  color:orange !important;
}


/*-----------Footer------------*/
.sktl{
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #212121;
}

footer p > a{
  color:white;
}
footer p > a:hover{
  text-decoration: none;
  color:#FF8039;
}
.soc-item a{
  color: #F29E34;
}

.soc-item a:hover{
  color:  #FF8039;
}

/* toggle icon on footer's accordion*/
 .accordion .card-header:after {
    font-family: "Font Awesome 5 Free";
    content: "\f0d8";
    font-weight:900;
    float:right;
}
.accordion .card-header.collapsed:after {
    content: "\f0d7";
}

/*-----------------------------------*/
/*2.----------MAIN PAGE CONTENT------------------------*/

.welcome-container > .row > .col-md-3 {
    text-align: center;
      color: #fff;
      font-weight:550;
      background-color: #C42B2A;
}
.welcome-container > .row > .col-md-3 > img{
  margin-top: 15%;
      margin-bottom: 5%;
      width: 25%;
      -webkit-animation: mover 2s infinite  alternate;
      animation: mover 1s infinite  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-25px); }
  }
  @keyframes mover {
      0% { transform: translateY(0); }
    100% { transform: translateY(-25px); }
  }
/*-------Parallax section--------*/
.parallaxContainer{
    overflow-x: hidden; /*due to image scaling overflowing we hide the scroll bars */
    overflow-y: hidden;
}

.welcome-screen{
width:100%;
min-height:650px;
padding-top:110px;
position:relative;
overflow:hidden;
}
.parallax-curtain{
  position:absolute;
  left:0%;
  right:0%;
  top:0%;
  bottom:0%;
  background:rgba(0,0,0,0.3);
}

.welcome-text{
  font-family: 'Indie Flower', cursive;
  font-size: 1.6rem;
  left:0;
  right:0;
}

.welcome-text:first-child{
  font-size: 2rem;
}
.welcome-text span:nth-of-type(2){
  font-size: 3.2rem;
  letter-spacing: 2px;
}
.welcome-text p{
  font-family: 'Raleway', sans-serif;
  position: relative;
  top: 1px;
  font-size: 1.4rem;
}

.welcome-text .btn{
  position: relative;
  top: 30px;
  border-radius: 10px;
  padding: 14px;
  background-color: #BA2702;
}

/*css class that is to be used only after 768px breakpoint*/
.medium-below{
  background-image:url("img/1-1949-.jpg");
  background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
/*--------------------------------*/

/*Introduction headings section*/
.headings-container{
  background-color: #212121;
}
.headings-item-side{
  color: #3A4042;
  border-radius: 10px;
}
.headings-item-center{
  color: white;
}
.headings-item-side > h2::after, .headings-item-center > h2::after{
  content:" ";
  display:block;
  width:50px;
  background-color:red;
  border:2px solid #f29e34;
  margin:15px auto;
}

.headings-container .btn-secondary{
  border: none;
  border-radius: 10px;
  padding: 16px;
  background-color: #F29E34;
}
/*----------------------------------*/

/*-----Featurettes section----------------------*/
.marketing{
    background: #FFF4E6;
    color: #202020;
}

.featurette-divider {
  margin: 2.25rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;

}
/*---------------------------------------------------*/

/*---------Aside section ---------------------------------*/

.aside .card{
  background: #212121;
  border-radius: 4px;
  color: #fff;
}
.aside  .btn{
  background: #C49342;
  border: none;
}
.aside a{
  color: #fff;
  text-decoration: underline;
}
.aside .card-header{
  border-bottom: 2px solid #fff;
}

/*----------------------------------------------------*/
/*map div for incorporating google map.*/
#map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
 }



/*3.-------------------MEDIA QUERIES----------------*/

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 2rem;
  }
}
/*card with transparent background and bottom border on footer
under md only*/
@media (max-width:768px){
  #accordion .card{
    background-color:transparent;
  }
  #accordion .card-header{
    border-bottom:1px solid white;
    cursor:pointer;
  }
  .title{
    font-size:1.58rem;
  }

  .welcome-text:first-child{
    font-size:1.2rem;
  }
  .welcome-text span:nth-of-type(2){
    font-size: 1.5rem;
    letter-spacing: 2px;
  }

  .welcome-text p{
    font-size: 1.1rem;
  }
}

@media(max-width:576px){
  .welcome-text{
    width:100% !important;
  }
}

@media (max-width:450px){
  .medium-below{
    height:450px;
    background-position: top, center;
  }

  .welcome-text{
    top:5%;
  }
}
/*----------------------------------------------------*/
