.category_list{
  list-style:none;
}
.category_list > li{
  width:75%;
  border:1px solid #212121;
  margin:0 auto;
  padding:1rem 0;
  margin-bottom:.75rem;
  background:#fff;
  color:#212121;
  font-weight:700;
  border:0;
  border-radius:4px;
  cursor:pointer;
}


.menu-title{
background-image:url("../img/1-1949-.jpg");
background-repeat:no-repeat;
background-size:cover;
background-position:center;
padding: 2rem 0;
color:#FFF4E6;
}
.menu-title span{
position:relative;
text-shadow:2px 2px #212121;
z-index:2;
text-transform: uppercase;
}
.menu-title-overlay{
position:absolute;
left:0%;
right:0%;
top:0%;
bottom:0%;
background:rgba(0,0,0,0.1);
z-index:0;
}
.category_title::after{
content:' ';
display:block;
width:100%;
background-color:red;
border:1px solid #C6CDD5;
margin:.5rem auto;
}



.menu{
margin:14px 0;
}
.menu .row .card{
  margin:10px -5px;
}
.menu-card{
  background:rgba(0,0,0,.03);
  border:1px solid rgba(255,255,255,.125);
  border-bottom:1px solid black;
}
.menu-card .card-header:after {
   font-family: "Font Awesome 5 Free";
   content: "\f0d8";
   font-weight:900;
   float:right;
   margin-top:6px;
}
.menu-card .card-header.collapsed:after {
   content: "\f0d7";
}
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 4; /* Stay on top */
  top: 60px; /* Stay at the top */
  right: 0;
  background-color: #212121; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 46px;
  margin-left: 50px;
  color: #fff;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#cart-button{
  position: fixed;
  right: 0;
  top: 160px;
  padding: 15px 20px;
  background: #212121;
  color: white;
  transition: margin-right .5s;
  z-index: 20;
}
.cart-header{
  padding-top: 4px;
  text-align: center;
  margin: auto;
  width: 96%;
  font-size: 28px;
  color: white;
  overflow: hidden;
}
.cart-list{
  min-height: 200px;
  height: auto;
  margin: auto;
  width: 96%;
  overflow:auto;
  position: relative;
  top: 14px;
  background: #FAFAFA;
}
.total-cost{
  width:100%;
  margin: auto;
  text-align: center;
  font-size: 26px;
  padding-bottom:4px;
  position: relative;
  top: 24px;
  color: #fff;
  font-family:'Catamaran',sans-serif;
}
.order-submit{
  display: block;
  color:white;
  font-weight:bold;
  background: #FA6826;
  cursor:pointer;
  font-family:'Catamaran',sans-serif;
  font-size:20px;
  border:none;
  position:relative;
  top:32px;
  margin:auto;
  padding: 10px 25px;
}

@media (max-width:1278px){
.category_list > li{
  width:80% !important;
}
}
@media (min-width:768px){
  .flexlist{
    display:flex !important;
  }

}
@media (max-width:767px){
  .flexlist{
    padding:0 .65rem;
  }
}
