*{
    box-sizing:border-box;
  }

  .register-right .nav-link{
    color:#212121 !important;
    font-family:'Raleway', sans-serif;
    font-size:1.4rem;
    font-weight:bold;
  }
  .register-right .nav-link:hover{
    color:orange !important;
  }
  .register-left{
    background-color: #C42B2A;
      text-align: center;
      color: #fff;
      font-weight:550;
  }
  .register-left input{
      border: none;
      border-radius: 1.5rem;
      padding: 2%;
      width: 60%;
      background: #f8f9fa;
      font-weight: bold;
      color: #383d41;
      margin-top: 30%;
      margin-bottom: 3%;
      cursor: pointer;
  }
  .register-right{
      background: #f8f9fa;

  }
  .register-left img{
      margin-top: 15%;
      margin-bottom: 5%;
      width: 25%;
      -webkit-animation: mover 2s infinite  alternate;
      animation: mover 1s infinite  alternate;
  }
  @-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-25px); }
  }
  @keyframes mover {
      0% { transform: translateY(0); }
    100% { transform: translateY(-25px); }
  }
  .register-left p{
      font-weight: lighter;
      padding: 12%;
      margin-top: -9%;
  }
  .register .register-form{
      padding: 10%;
      margin-top: 10%;
  }
  .login-form{
    padding: 10%;
    margin-top: 10%;
  }
  .login-form .form-group{
    max-width: 500px;
  }
  .btnRegister{
      margin-top: 4%;
      border: none;
      background: #C42B2A;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
  }
.btnLogin{
      margin-top: 6%;
      border: none;
      background: #C42B2A;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
}


  .register-heading{
      text-align: center;
      margin-top: 8%;
      margin-bottom: -14%;
      color: #495057;
  }

  .register .row .col-lg-9{
    padding-left:0;

  }
