.info-list{
    list-style:none;

}

.info-list > li{
    padding:1rem 0;
    margin-bottom:3px;
    background:#fff;
    font-weight:700;
    border-radius:4px;
    cursor:pointer;
  }

  .info-list > li > a{
      display:block;
      text-decoration:none;
      color:#212121;

  }
  .info-title{
    background-image:url("../img/1-1949-.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    padding: 1.25rem 0;
    color:#FFF4E6;
    }
    .info-title span{
    position:relative;
    text-shadow:2px 2px #212121;
    z-index:2;
    }
    .info-title-overlay{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background:rgba(0,0,0,0.1);
    z-index:0;
    }
    .info-text p{
        font-size:1.3rem;
        text-align:justify;
    }
    .info-list > li.selected{
        background-color:transparent;
    }
    .info-list > li.selected > a{
        color:#fff;
    }
    
    .info-text ul > li{
      font-size:1.2rem;
      text-align:justify;
    }
    .info-list > li >a:active, .info-list >li>a:focus{
        outline: 0;
        -moz-outline-style: none;
        outline-style: none;
    }
	  .accordion a{
		   text-decoration: none;
       color: #212121;
      }
      
      .accordion a:active,.accordion a:focus {
        outline: 0;
        -moz-outline-style: none;
        outline-style: none;
      }
    .accordion h4{
      font-weight: bold;
    }
@media(min-width:768px){
    .info-list{
        display:block !important;
    }
}
@media(max-width:767px){
    
    .welcome-left{
        padding:0 ;
      }
    .info-card{
        border-radius:0;
        border-top:1px solid #212121;
        background:#212121;
    }
     .info-card .card-header:after {
        font-family: "Font Awesome 5 Free";
        content: "\f0d8";
        font-weight:900;
        float:right;
     }
      .info-card .card-header.collapsed:after {
        content: "\f0d7";
     }
     .info-list{
       margin:0 !important;
    }
    .info-list > li{
        border-radius:0;
        margin-bottom:1px;
      }
      .card-header a > h4{
        font-size:1.35rem;
      } 
      .card-body > p{
          font-size:1.1rem;
      }
}
