/* body{
  background-color: rgb(64, 65, 66);
}
.container{
  background-color: rgb(255,255,255);
}.bg-dark{
  background-color: rgba(0,0,0,.7) !important;
}
*/

.bg-ultra-dark{
  background-color: #121414;
}
.nav-link {
  color: white !important;
  background-color: transparent !important;
  /* border-bottom: .19rem solid gray !important; */
}

.nav-link:hover {
  /* border-bottom-color: orange !important; */
  color:orange !important;
}
.headings-container{
  background-image: linear-gradient(#121414 25%, #21303D);
}
.headings-item-side{
  color: #3A4042;
  border-radius: 20px;
}
.headings-item-center{
  color: white;
}
/*Featurette CSS*/
.btn-secondary{
  border: none;
  border-radius: 20px;
  padding: 16px;
  background-color: #EA3C33;
}
.featurette-divider {
  margin: 2.25rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 2rem;
  }
}

/*Skittlers footer custom CSS*/

.sktl{
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../resources/img/background.jpg");
}


p a{
  color:white;
}
p a:hover{
  text-decoration: none;
  color:#FF8039;
}
.soc-item a{
  color: #FF8039;
}
/*#D15839*/
.soc-item a:hover{
  color:  #FF8039;
}
